body{
background-color:rgb(130,130,130);
 user-select: none;
}
.blob{
background-color:rgb(140,140,140);
border: 2px solid black;
border-radius:5px;
display:inline-block;
padding:3px 5px;
margin-top:-2px;
}
.incrementorwrapper{
	display:inline-block;
	border:1px solid black;
}
.buyincrementor{
	font-size:20px;
	display:inline-block;
	font-weight:bold;
	background-color:rgb(120,120,120);
    text-shadow: 0 0 10px white;
}
.buyincrementor:hover{
	cursor: pointer;
}
.titletext{
	font-size:24px;
	font-weight:bold;
}
#creepupgrades{
	font-weight:bold;	
}
#buycreeptier, #buycreepamount{
	display:inline-block;
	background-color:rgb(100,100,100);
	color:rgb(200,200,200);
	font-size:20px;
	height: 100%;
	font-weight:normal;
	min-width: 20px;
	text-align: center;
	text-shadow: 0 0 15px black;
}
#buycreeptierplus, #buycreepamountplus{
	padding:0px 2px;
}
#buycreeptierminus, #buycreepamountminus{
	padding:0px 4px;
}
#buycreepbutton{
	display: inline-block;
	background-color: rgb(120,120,120);
	padding: 0 2px;
	border: 1px solid black;
	border-radius: 5px;
}
#buycreepbutton:hover{
	cursor: pointer;
}